.login {
  position: relative;
  overflow: hidden;
  min-height: 40vh;
}

@media (max-width: 769px) {
  .login {
    overflow-x: clip;
  }
}

@media (max-width: 769px) {
  .loginNav {
    background-color: var(--color-secodery-2);
  }
}

/* /// */
.container {
  overflow: hidden;
  width: 100%;
  border-radius: 22px;
  display: flex;
  margin: 150px auto 50px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 769px) {
  .container {
    height: 100%;
    flex-direction: column-reverse;
    margin: 200px auto 50px;
  }
}
@media (max-width: 480px) {
  .container {
    margin: 140px auto 50px;
  }
}

.loginContent {
  width: 55%;
  min-height: 473px;
  height: 100%;
  padding: 0 25px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #8d8d8d;
}

@media (max-width: 992px) {
  .loginContent {
    width: 70%;
  }
}
@media (max-width: 769px) {
  .loginContent {
    width: 95%;
  }
}
@media (max-width: 480px) {
  .loginContent {
    width: 98%;
    padding: 0 4px 20px;
    min-height: 440px;
  }
}
